/wikidata-cache.json
/wikidata-cache.json.new
/population-since-1800.csv
/gdp-world-regions-stacked-area.csv
/API_NY.GDP.MKTP.KD_DS2_en_csv_v2_3630701.zip
/.ipynb_checkpoints/
/.~lock.*.xlsx#
Untitled*.ipynb
